@model Developers.Models.ViewModels.ProductoVM
@{
    ViewData["Title"] = "Vista Producto";
    Layout = "~/Views/Shared/_LayoutFarm.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>Vista del Producto</h2>
            </div>
            <div class="card-body">
                <div class="form-group mb-2">
                    <label class="form-label">NOMBRE PRODUCTO</label>
                    <input class="form-control" value="@Model.Producto.ProductoName" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">PRECIO</label>
                    <input class="form-control" value="@Model.Producto.Precio" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">RECETA OBLIGATORIA</label>
                    <input class="form-control" value="@Model.Producto.Receta" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">FECHA INGRESO</label>
                    <input class="form-control" value="@Model.Producto.FechaIngreso.ToString("dd/MM/yyyy")" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">CATEGORIA</label>
                    <input class="form-control" value="@Model.CategoriaList.FirstOrDefault(c => c.Value == Model.Producto.ProductoId.ToString())?.Text" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">PROVEEDOR</label>
                    <input class="form-control" value="@Model.ProveedorList.FirstOrDefault(c => c.Value == Model.Producto.ProductoId.ToString())?.Text" readonly />
                </div>
@*                 VALIDACION STOCK DISPONIBLE *@
                <div class="form-group mb-2">
                    <label class="form-label">STOCK</label>
                    <input class="form-control" value="@(Model.Producto.Cantidad > 0  ? " STOCK DISPONIBLE" : "REPONER STOCK" )" readonly />
                </div>

                <div class="d-grid column-gap-2 d-md-block offset-0 offset-md-3 offset-lg-4">
                    <a asp-controller="Productos" asp-action="Index" class="btn btn-primary">
                        <i class="bi bi-arrow-return-left"></i>&nbsp;Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
