@model Developers.Models.Proveedor
@{
    ViewData["Title"] = "Ver Proveedor";
    Layout = "~/Views/Shared/_LayoutFarm.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>Vista del Proveedor</h2>
            </div>
            <div class="card-body">
                <div class="form-group mb-2">
                    <label class="form-label">NOMBRE</label>
                    <input class="form-control" value="@Model.ProveedorName" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">RUC</label>
                    <input class="form-control" value="@Model.Ruc" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">DIRECCION</label>
                    <input class="form-control" value="@Model.Direccion" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">NOMBRE DE CONTACTO</label>
                    <input class="form-control" value="@Model.NombreContacto" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">TELÉFONO</label>
                    <input class="form-control" value="@Model.Telefono" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">CORREO ELECTRÓNICO</label>
                    <input class="form-control" value="@Model.CorreoElectronico" readonly />
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">Estado</label>
                    <input class="form-control" value="@(Model.Status ? "ACTIVO" : "INACTIVO")" readonly />
                </div>
                <div class="d-grid column-gap-2 d-md-block offset-0 offset-md-3 offset-lg-4">
                    <a asp-controller="Proveedores" asp-action="Index" class="btn btn-primary">
                        <i class="bi bi-arrow-return-left"></i>&nbsp;Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


